@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fraunces', serif;

}

.container{
    min-height: 100vh;
    width: 100%;
    background-color:#323640;
    background-image: linear-gradient(135deg, #182625 20%, #6C868C 80% );
    overflow: hidden;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
  /* background-color:#7B838C;*/
}

.menu{
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
    
}

.logo span{
    font-weight: 300;
}

.hamburger-menu{
    height: 5rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bar{
    width: 1.9rem;
    height: 1.5px;
    border-radius: 20px;
    background-color: #eee;
    transition: 0.5s;
    position: relative;
}

.bar:before, 
.bar:after{
    content:"";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: 0.5s;
}

.bar:before{
    transform: translateY(-9px);
}

.bar:after{
    transform: translateY(9px);
}

.main{
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    background-color: white;
    overflow: hidden;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: .5s;
}

header{
    min-height: 100vh;
    width: 100%;
    background:  url("https://images.unsplash.com/photo-1601302249997-35a818561543?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") no-repeat top center / cover;
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(43, 51, 59, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    max-width: 35rem;
    text-align:center;
    color: #fff;
    padding: 0 2rem;
}

.title{
    font-size: 2.7rem;
}

.btn{
    margin-top: 1rem;
    padding: 0.6rem 1.8rem;
    background-color: #675B51;
    border: none;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;

}

.container.active .bar{
    transform: rotate(360deg);
    background-color: transparent;
}

.container.active .bar:before{
    transform: translateY(0) rotate(45deg);
}

.container.active .bar::after{
    transform: translateY(0) rotate(-45deg);

}

.container.active .main{
    animation: main-animation .5s ease;
    cursor: pointer;
    transform: perspective(1500px) rotateY(20deg) translateZ(300px) scale(0.5);
    transition: .8s;
}

@keyframes main-animation{
    from{
        transform: translate(0);
    }

    to{
        transform: perspective(1500px) rotateY(20deg) translateZ(300px) scale(0.5);

    }
}

.links{
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;

}

.links a{
    text-decoration: none;
    color: white;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .8s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide .5s forwards ease ;

}

.links a:hover{
    color: white;
}

.container.active .links a{
    animation: appear .5s forwards ease var(--i);
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hide{
    
    from{
        opacity: 1;
        transform: translateY(0px);
    }
    to{
        opacity: 0;
        transform: translateY(10px);
    }
}

